<div class="modal fade in mt-5" id="modalReserva" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="h5 modal-title">Reservar Película: <small>{{ pelicula?.nombre }}</small> </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #cerrarSinLimpiarBtn>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mb-2 pb-0">
          <form [formGroup]="crearReservaForm">
            <div class="row mb-1">
              <div class="col-md-6">
                <label>Tipo de Reserva</label>
              </div>
              <div class="col-md-6">
                <select validar name="tipoReserva" id="tipoReserva" class="form-control" formControlName="tipoReserva" #tipoReserva (change)="asignarTipo(tipoReserva.value)">
                  <option value="ESTANDAR">Estandar</option>
                  <option value="PREMIUM">Premium</option>
                </select>
              </div>
            </div>
            <div *ngIf="reserva.tipoReserva" class="row mb-1">
              <div class="col-md-6">
                <label>Valor</label>
              </div>
              <div class="col-md-6">
                <input type="text" name="valor" id="valorReserva" autocomplete="off" class="form-control" value="{{ valorReserva }}" readonly>
              </div>
            </div>
            <div *ngIf="reserva.tipoReserva" class="row mb-1">
              <div class="col-md-6">
                <label>Fecha de Reserva</label>
              </div>
              <div class="col-md-6">
                <input validar type="date" class="form-control" name="fecha" id="fechaReserva" formControlName="fechaReserva" (input)="conFecha(fecha.value)" autocomplete="off" #fecha>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer mt-0">
          <button type="button" id="btnReservar" class="btn btn-primary" (click)="crearReserva()">Reservar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarCampos()" #cerrarBtn>Cancelar</button>
        </div>
      </div>
    </div>
</div>
<app-alert *ngIf="titulo && mensaje" [titulo]="titulo" [mensaje]="mensaje" [exito]="exito"></app-alert>
