<h1>Registrar Película</h1>
<br>
<form [formGroup]="peliculaForm">
  <div class="row mb-1">
    <div class="col-sm-2">
      <label>Nombre</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="nombrePelicula" name="nombre" placeholder="Nombre Película" 
        class="form-control" formControlName="nombre" autocomplete="off">
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-sm-2">
      <label>Autor:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="autorPelicula" name="autor" placeholder="Autor Película"
        class="form-control" formControlName="autor" autocomplete="off">
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-sm-2">
      <label>Descripción:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="descripcionPelicula" name="descripcion" placeholder="Descripción Película"
        class="form-control" formControlName="descripcion" autocomplete="off">
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="btnCrear"
        [disabled]="!(peliculaForm.controls.nombre.value && peliculaForm.controls.autor.value && peliculaForm.controls.descripcion.value)"
        (click)="crear()">Guardar</button>
</form>
<app-alert *ngIf="titulo && mensaje" [titulo]="titulo" [mensaje]="mensaje" [exito]="exito"></app-alert>
