<h1>Listado de Peliculas</h1>
<div class="col-md-6 mb-3 pl-0">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Nombre de Película (Coincidencia exacta)" aria-label="Search"
          aria-describedby="search-addon" #nombrePelicula/>
        <button type="button" id="btnBuscar" class="btn btn-outline-primary ml-1" (click)="conseguirPelicula(nombrePelicula.value)">Buscar</button>   
        <button type="button" class="btn btn-outline-primary ml-1" (click)="nombrePelicula.value = ''; conseguirPelicula()" #limpiarBtn>Limpiar</button>
    </div>
</div>
<app-pelicula *ngIf="peliculas.length > 0" [peliculas]="peliculas" (reservado)="reservaExitosa($event)"></app-pelicula>
<p *ngIf="cargando" class="h5">Cargando...</p>
<app-alert *ngIf="titulo && mensaje" [titulo]="titulo" [mensaje]="mensaje" [exito]="exito"></app-alert>